    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="text-center">What is engage?</h2>
            <p class="intro text-center">Engage is a content engagement platform for web publishers that helps you track how well your content is performing online. It does this by analyzing metrics that correlate with reading engagement and scores unique page visits.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="material-icons">face</i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Open-Source</h3>
                        <p>As an open-source platform, Engage is free for all :)</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="material-icons">timeline</i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Aggregate Statistics</h3>
                        <p>Compare average scores across multiple date ranges to see if your content is performing or under-performing.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="material-icons">favorite</i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">User Friendly</h3>
                        <p>Designed for simplicity, Engage helps you get the information you need quickly. No clunky, difficult-to-navigate dashboard interfaces.</p>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->
