    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <div class="author-message">
                    <div class="profile">
                      <img class="img-responsive" src="{{ site.baseurl }}assets/images/profile.jpg" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">Thanks for using Engage!</h3>
                        <p>For support, tips, or general feedback about the product, get in touch <a href="mailto:nickesoto@gmail.com?Subject=Engage%20Support" target="_blank">here.</a>
                    </div><!--//speech-bubble-->
                </div><!--//author-message-->
                <div class="clearfix"></div>
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->
